# Ignore Visual Studio Code settings
.vscode/*

*.pyc
# pixi environments
.pixi/*
!.pixi/config.toml
# Ignore dataset files
dataset/*.json
dataset/*.jsonl
# Ignore model checkpoints
checkpoints/*
out/*